<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" defer></script>
    <script src="scripts/app.js" defer></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body>
    <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>
        <div class="form-group">
          <!-- Note: we do not count empty items toward the total allowed -->
          <input id="lunch-menu" type="text"
              placeholder="list comma separated dishes you usually have for lunch"
              class="form-control"
              ng-model="dishes" ng-class="inputStyle">
          <span>(We won't count empty items in your list)</span>
        </div>
        <div class="form-group">
          <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
        </div>
        <div class="form-group message" ng-class="messageStyle">
          {{message}}
        </div>
    </div>
  </body>
</html>
