<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message-valid { color: #008000; border-color: #008000;}
      .message-invalid { color: #ff0000; border-color: #ff0000;}
      .input-valid { border-color: #008000;}
      .input-invalid { border-color: #ff0000;}
    </style>
  </head>
  <body>
    <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>
        <div class="form-group">
          <!-- Note: we do not count empty items toward the total allowed -->
          <input id="lunch-menu" type="text"
              placeholder="list comma separated dishes you usually have for lunch"
              class="form-control {{inputStyle}}"
              ng-model="dishes">
        </div>
        <div class="form-group">
          <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
        </div>
        <div class="form-group message {{messageStyle}}">
          {{message}}
        </div>
    </div>
  </body>
</html>
